.post-list {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 25px;
}
.post-list__item {
  width: 291px;
}
.post-list__video {
  width: 290.48px;
  height: 162.98px;
}
.post-list__info {
  display: flex;
  column-gap: 10px;
}
.post-list__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.post-list__avatar-img {
  height: 100%;
}
.post-list__info-wrap {
  font-family: Arial;
}
.post-list__info-text {
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  color: rgb(3, 3, 3);
  margin-bottom: 10px;
}
.post-list__info-name {
  display: inline-block;
  font-size: 15px;
  color: rgb(96, 96, 96);
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.3s;
}
.post-list__info-name:hover {
  color: rgb(66, 65, 65);
}
.post-list__info-hash {
  color: dodgerblue;
  font-size: 14px;
  margin-bottom: 5px;
}
.post-list__info-coment-like-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}
.post-list__info-coment,
.post-list__info-likes {
  font-size: 15px;
  color: rgb(96, 96, 96);
}
.pagination-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 35px;
}
.prev-posts,
.next-posts {
  width: 100px;
  height: 35px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 14px;
  color: #228b22;
  background: rgb(243, 241, 241);
  cursor: pointer;
  transition: all 0.3s;
}
.prev-posts:hover,
.next-posts:hover {
  color: #2db42d;
  box-shadow: 0 0 5px 2px #54c6e969;
}
.prev-posts:active,
.next-posts:active {
  color: #228b22;
  box-shadow: none;
}
.prev-posts_disabled,
.next-posts_disabled {
  pointer-events: none;
  background: rgb(173, 173, 173);
}
